<div class="header">
    <div>

        <div class="navbar">
            
            <div class="logo">
            
                <a style="font-family: 'Gloria Hallelujah', cursive ;" href="/food"><img src="https://i.postimg.cc/tJxt04D5/yummm.jpg" alt="supermanlogo" border="0"> Yoyumm</a>
            </div>
            

            <ul class="navbar-list">
                <li class="navbar-item"><a href="/food" class="navbar-link">Home</a></li>
                <li class="navbar-item"><a href="food/add-food" class="navbar-link"> Add new Item</a></li>
                <li class="navbar-item"><a href="/blog" class="navbar-link">Blog</a></li>
            </ul>

           
        </div>
        <div class="header-right">
            <form action="#" class="header-search-form for-des">
                <input (keyup)="searchData($event)" [(ngModel)]="searchTerm" name="s1" id="sid"  type="search" class="form-input" placeholder="Search Here...">
                <button type="submit">
                    <i class="uil uil-search"></i>
                </button>
            </form>
            </div>



        <div class="header-content">
            <div class="left-side">

                <h1 class="welcome-heading">Delivering Deliciousness</h1>
                <p class="welcome-paragraph">Yoyumm is an Innovative food ordering app available on iPhone and
                    Android. You can find your favourite food and place order by viewing our Menu.
                </p>
            </div>

            <div class="right-side">
                <img src="https://i.postimg.cc/C5fFgW3Y/crop.jpg" alt="supermanpng" border="0">
            </div>



        </div>


    </div>
</div>